.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 375px) auto;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid rgba(255, 255, 255, 1);
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-style: solid;
  border: 2px rgba(255, 255, 255, 1);
  border-radius: 2px;
  margin-top: 35px 0 0 0;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__title {
  grid-area: title;
  font-family: "Inter", Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  padding-bottom: 7px;
  margin: 22px 0 0 0;
}

.profile__description {
  top: 236px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  text-align: left;
  max-width: 415px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .profile__title {
    grid-area: title;
    font-family: "Inter", Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__edit-button {
    background: transparent url(../images/pen.svg) center no-repeat;
    width: 18px;
    height: 18px;
    grid-area: button;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 18px;
    height: 18px;
    top: 280px;
    left: 268px;
  }

  .profile__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
  }

  .profile__add-button {
    background: transparent url(../images/plus-symbol.svg) center no-repeat;
    border: 2px solid rgba(255, 255, 255, 1);
    width: 282px;
    border-radius: 2px;
    margin: 0px;
    padding-top: 36px;
  }

  .profile__add-button:hover {
    opacity: 60%;
    cursor: pointer;
  }

  .profile__description {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    grid-area: description;
    line-height: 16.94px;
    text-align: center;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 36px;
  }

  .profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin: 0;
  }
}
