@import url(../vendor/normalize.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);

.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
}

@media screen and (max-width: 480px) {
  .profile {
    background-color: pink;
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
  }
}

.footer {
  gap: 0px;
  opacity: 0px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #545454;
}
